@media screen and (min-width: 768px) {
     display: none;
  }


html{
font-family: 'REM', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: rgb(102, 102, 102);
}




.foodimages{
    
    background-color: rgb(255, 136, 0);
    font-size: 2rem;
    justify-content: space-evenly;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1%;
    padding-bottom: 1rem;
     box-shadow: 5px 10px;
}



.fooddescription{
    
    background-color: rgb(255, 136, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    font-size: 1.8rem;
    max-width: 95%;
    max-height: 95%;
    border-radius: 20px;
    text-align: center;
     box-shadow: 5px 10px;
}




.subtitle{
  text-align: center;
  background-color: rgb(255, 136, 0);
  border-radius: 100px;
  margin-top: 20px;
  max-width: 90%;
  font-size: 1rem;
   box-shadow: 5px 10px;
}





.textstyle{
    text-align: center;
}






main img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5%;

    
}

main { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
}

