@media screen and (min-width: 768px) {
    


}




.foodimages{
    border: 4px solid rgb(147, 145, 150);
    background-color: rgb(238,172,155);
    font-size: 200%;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 50%;
    border-radius: 20px;
    margin-top: 100px;
}




.fooddescription{
    border: 4px solid rgb(147, 145, 150);
    background-color: rgb(238,172,155);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
    margin-bottom: 100px;
    max-width: 50%;
    text-align: center;
    border-radius: 20px;
}








.buttonsstyle{
margin-bottom: 10px;



}






.aboutusstyle{
text-align: center;


}



/* PSEUDO CLASSES */



.sectionwrapper{
    border: 2px dotted purple;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}